name: User-Register CI with Maven (JDK 21)

on:
  push:
    branches: [ "main", "user-register", "feature/**" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Required for SonarQube analysis

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build and Analyze
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        # If using SonarCloud, SONAR_HOST_URL is optional as it defaults to sonarcloud.io
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} 
      run: >
        mvn -B verify sonar:sonar 
        -Dspring.profiles.active=test 
        -Dsonar.projectKey=your_project_key 
        -Dsonar.projectName='User-Register Service'

    - name: Upload Build Artifact
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: microservice-executable
        path: target/*.jar
        retention-days: 2
